app:
  env: test
  name: app
  tags:
    project: gosoline
    family: gosoline
    group: grp


db:
  default:
    driver: mysql
    max_idle_connections: 20
    max_open_connections: 20
    connection_max_lifetime: 60s
    parse_time: true
    uri:
      host: 127.0.0.1
      port: 3306
      user: mcoins
      password: mcoins
      database: management
    migrations:
      enabled: true
      table_prefixed: false
      path: ./migrations
