# Created by .ignore support plugin (hsz.mobi)
/vendor/
.idea
.vscode
.codegraph

/*.out

*.output.txt
.DS_Store

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
