app:
  env: dev
  name: publisher
  tags:
    project: gosoline
    family: example
    group: mdlsub

cfg:
  server:
    port: 0

httpserver:
  health-check:
    port: 0

aws_sns_endpoint: http://localhost:4566

mdlsub:
  publishers:
    random-number: { output_type: sns }
