app:
  env: dev
  name: stream-consumer
  tags:
    project: project
    family: family
    group: grp

mdlsub:
  publishers:
    outputEvent: { output_type: sns, application: stream-consumer }

stream:
  consumer:
    uintConsumer:
      input: consumerInput

  input:
    consumerInput:
      type: sqs
      target_queue_id: inputEvent
