app:
  env: dev
  name: name
  tags:
    project: project
    family: family
    group: grp

httpserver:
  default:
    port: 8088
    mode: debug
    timeout:
      read: 5s
      write: 5s
      idle: 5s

api_auth_keys:
  - changeMe
api_auth_basic_users:
  - admin:password
