env: dev

app_project: gosoline
app_family: metrics
app_group: grp
app_name: prometheus

httpserver:
  default:
    port: 8088
    mode: debug
    timeout:
      read: 5s
      write: 5s
      idle: 5s

prometheus:
  metric_limit: 5000
  api:
    enabled: true
    port: 8092
    path: /metrics

metric:
  enabled: true
  writers:
    - prometheus
