app:
  env: dev
  name: prometheus
  tags:
    project: gosoline
    family: metrics
    group: grp

httpserver:
  default:
    port: 8088
    mode: debug
    timeout:
      read: 5s
      write: 5s
      idle: 5s
metric:
  enabled: true
  writers:
    - prometheus
  writer_settings:
    prometheus:
      metric_limit: 5000
      api:
        enabled: true
        port: 8092
        path: /metrics
